<h1>Contact information</h1>

<p>
  Name: <%= @first_name %> <%= @last_name %>
  <br>
  Company: <%= @company %>
  <br>
  Job Title: <%= @job_title %>
  <br>
  Email: <%= @email  %>
  <br>
  Phone Number: <%= @phone_number  %> <%= @phone_type  %>
  <br>
  Street Address: <%= @street_address  %>
  <br>
  City: <%= @city  %>
  <br>
  State: <%= @state  %>
  <br>
  Zip Code: <%= @zip_code  %>
  <br>
  Type of Building: <%= @building_type  %>

</p>
