<h1>Contact information</h1>

<p>
  Name: <%= @contact.first_name() %> <%= @contact.last_name() %>
  <br>
  Company: <%= @contact.company() %>
  <br>
  Job Title: <%= @contact.job_title() %>
  <br>
  Email: <%= @contact.email()  %>
  <br>
  Phone Number: <%= @contact.phone_number()  %> <%= @contact.phone_type()  %>
  <br>
  Street Address: <%= @contact.street_address()  %>
  <br>
  City: <%= @contact.city()  %>
  <br>
  State: <%= @contact.state()  %>
  <br>
  Zip Code: <%= @contact.zip_code()  %>
  <br>
  Type of Building: <%= @contact.building_type()  %>

</p>

<a href="/phonebooks">Back To Your Contact list</a>
